@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.companyname {
  color: variables.$main-color;
  font-family: 'Barlow';
}

.companyname-ch {
  //background-image: url(Logo_wordmark_company.svg);
  height: 18px;
  margin-top: 2px;
  margin-bottom: -2px;
  filter: invert(1);
}
